.logo{
    font-size: 1.8rem;
    font-family: French Script MT;
    font-weight:lighter;
background: linear-gradient(40deg, #E21A30, #D9A130);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
display: inline-block;
font-style: regular;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    background-color: #fff;
    height: 63px;
    padding-top: 25px;
    
}
.header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.header ul li {
    text-decoration: none;
    color: #fc0000;
    font-weight: 500;
    display: inline-block;
    padding: 10px 25px;
}
.header nav {
    display: flex;
    align-items: center;
}
.navIcons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header a {
    text-decoration: none;
    color: #333;
}
 @media (width:350px)  { 

    .header{
display: none;    }
}
