.add-product{
    width: 50%;
    border: 2px solid #ccc;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
input, select, textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 90%;
}
.product-category-selector{
    display: flex;
    width: 90%;
}