.product-container {
    display: flex;
    flex-wrap: wrap;
   position: relative;
    flex-direction: row;
    gap: 15px;
    padding: 20px;
}

p{
    margin: 0;
}

.image img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.product-card {
   
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    
    text-align:justify;
    width: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
   justify-content: start;
   align-items: center;
   
}
.product-info{
    background-color: white;
    padding: 15px;
}
.product-title-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
}
.product-price {
    font-weight: 700;
    color: #000000;
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.product-rating{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
 gap: 20px;
    font-size: 0.9rem;
    color: #413f3f;   
    font-weight: 600;
 }
 .product-rating span {
    background-color: #ff9900;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
 }
.product-stock{
 margin: 15px 0px;
}
    .category{
        display: flex;
        gap: 50px;
        color: rgb(0, 0, 0);
        background-color: rgb(233 229 229 / 53%);
        padding: 5px;
        font-size: 0.8rem;
       margin: 5px 0px;
        font-weight: 600;
    }
    .product-id{
        display: flex;
        gap: 50px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        padding: 5px;
        font-size: 0.8rem;
        font-weight: 600;
    }
    .Delivery{
        display: flex;
        gap: 50px;
        color: rgb(0, 0, 0);
        background-color: rgb(233 229 229 / 53%);
        padding: 5px;
        font-size: 0.8rem;
       margin: 5px 0px;
        font-weight: 600;
    }
    .stockname{
        width: 80px;
        font-weight: 500;
        color: rgb(83, 81, 81);
        }
        .stockdetail{
            font-weight: 700;
            color: rgb(0, 0, 0);
        }
    .btn-group{
        display: flex;
        gap: 10px;
        margin: 10px;
        }
       